body {
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
  text-align: center;
}

.player {
  margin-top: 120px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 10px;
}

input {
  margin-top: 20px;
}
